.producto{
    background-color: rgb(196, 191, 191);
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    text-align: center;
}

.producto:hover{
     background-color: rgb(154, 150, 150);

}